[submodule "home/.bash_it"]
	path = home/.bash_it
	url = https://github.com/Bash-it/bash-it.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/.tmux/plugins/tmux-battery"]
	path = home/.tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "home/.tmux/plugins/tmux-resurrect"]
	path = home/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "home/.tmux/plugins/tmux-yank"]
	path = home/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "home/.tmux/plugins/tmux-online-status"]
	path = home/.tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status
[submodule "home/.tmux/plugins/tmux-better-mouse-mode"]
	path = home/.tmux/plugins/tmux-better-mouse-mode
	url = https://github.com/nhdaly/tmux-better-mouse-mode
[submodule "home/.tmux/plugins/tmux-continuum"]
	path = home/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "home/.tmux/plugins/tmux-cpu"]
	path = home/.tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "home/.tmux/plugins/tmux-net-speed"]
	path = home/.tmux/plugins/tmux-net-speed
	url = https://github.com/tmux-plugins/tmux-net-speed
[submodule "home/.tmux/plugins/tmux-open"]
	path = home/.tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
