# "gnome", "kde" or "none"
DESKTOP_ENV="none"
BASHIT=1

# Git
GIT_USERNAME="First name"
GIT_EMAIL="email"

# Development stuff
DEVELOPMENT_QT_CREATOR=0
DEVELOPMENT_CODE_BLOCKS=0

# SSH
SSH_KEY_GENERATE=1
SSH_KEY_TYPE="ed25519"
SSH_KEY_LOCATION="$HOME/.ssh"
SSH_KEYS=(github)
SSHD_ENABLED=1

# Android
# ANDROID_STUDIO_URL
ANDROID_STUDIO_GLOBAL=1

